/* Connecting fonts Start
Do not delete!
*/
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
        url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "fonts";
/* Connecting fonts End */

/* Sample
Write your code.
*/
body {
  font-size: 30px;
}

span {
  font-size: 16px;
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

div {
  font-size: 26px;
  @media (min-width: 1200px) {
    font-size: 30px;
  }
}